.menu {
	display: flex;
	flex-direction: column;
	gap: 0;
	border-radius: 12px;
	background-color: hsl(0deg 0% 95%);

	.option {
		font-size: 16px;
		font-weight: 600;
		padding: 12px 60px 12px 20px;
		text-align: start;
	}

	.critical {
		color: hsl(0deg 100% 40%);
	}
}
