.wrapper {
	background-color: hsl(0deg 0% 85%);
	max-width: 400px;
	flex: 1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		
		.title {
			font-size: 16px;
			font-weight: 600;
		}

		.button {
			background-color: inherit;
			padding: 0;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}

	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 20px;

			
		.button {
			padding: 12px 20px;
			font-weight: 600;
			background-color: inherit;
		}

		.username-avatar {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;

			.username {
				font-size: 20px;
				font-weight: 600;
			}



			.avatar {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8px;
		
				.avatar-image {
					height: 120px;
					width: 120px;
				}

				.button {
					font-size: 10px;
					font-weight: 600;
					padding: 6px;
					width: fit-content;
					background-color: hsl(0deg 0% 60%);
				}
			}
		}
	

	
		.info {
			display: flex;
			flex-direction: column;
			border-top: 1px solid hsl(0deg 0% 50%);
			border-bottom: 1px solid hsl(0deg 0% 50%);

			.field {
				display: flex;	
				justify-content: space-between;
				align-items: center;
				height: 45px;
				padding: 0 20px;
	
				.field-name {
					font-size: 14px;
					font-weight: 400;
				}
	
				.field-value {
					font-size: 14px;
					font-weight: 500;
				}	
			}


			.delimiter {
				height: 1px;
				background-color: hsl(0deg 0% 60%);
				margin-left: 20px
			}
		}
	
		

	}	
}

.modal-window {
	background-color: hsl(0deg 0% 85%);
	border-radius: 10px;
	min-width: 300px;
	max-height: 500px;
	overflow: auto;

	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		border-bottom: 1px solid hsl(0deg 0%deg 60%);
		padding: 20px;
	}


	.form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 20px 40px;
		
		.fields {
			display: flex;
			flex-direction: column;
			gap: 2px;
		}

		.controls {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			/* stylelint-disable-next-line no-descending-specificity */
			.button {
				padding: 12px 0;
				background-color: hsl(0deg 0% 70%);
				font-weight: 600;
			}
		}
	}	
}
	

