.input-field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 500px;
	


	.h6 {
		text-align: left;
		font-size: 12px;
	}

	.outer {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.inner {
			display: flex;
			align-items: center;
			border: 1px black solid;
			border-radius: 12px;
			padding: 0 8px;
			background-color: white;
	
			.input {
				height: 40px;
				font-size: 14px;
				border: none;
				outline: none;
				flex: 1;
			}
	
			.button {
				height: 30px;
				padding: 0;
				background: none;
			}
		}
	}

	.error-message {
		color: hsl(0deg 100% 40%);
		font-weight: 500;
		font-size: 8px;
		height: 9px;
	}
}

.invalid {
	/* stylelint-disable-next-line no-descending-specificity */
	.inner {
		border-color: hsl(0deg 100% 40%) !important;
	}
}

