.message {
	background-color: hsl(0deg 0% 85%);
	padding: 12px;
	width: fit-content;
	border-radius: 12px;
	display: flex;
	gap: 20px;
	align-items: last baseline;



	.text {
		font-size: 14px;
		word-wrap: break-word;
		max-width: 500px;

	}

	.datetime {
		font-size: 10px;
		color: hsl(0deg 0% 40%);
	}
}

.own {
	align-self: flex-end;
	background-color: hsl(0deg 0% 65%);
}
